*txt
**/dependency-reduced-pom.xml
opentelemetry-javaagent-all.jar
**/target/
javaagent_full/raw/
zipkin
.classpath                                                           
.gitignore                                                           
.project                                                             
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs        
.settings/org.eclipse.m2e.core.prefs

